@using Microsoft.FluentUI.AspNetCore.Components
<FluentFooter class="p-3 bg-primary-subtle footer">
    <span class="fw-bold"><Netcode-Hub> Video-Conferencing</Netcode-Hub></span>
    <span > Location: Accra, Ghana</span>
    <span > Office: +233 700 123 456</span>
    <span > Email: contact@netcodehub.com</span>
    <FluentSpacer />
    <span><i>Built by <strong>@@Netcode-Hub</strong></i></span>
</FluentFooter>

<style>
    .footer{
        position: fixed;
        bottom: 0;
        width: 100%
    }
</style>